@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main::-webkit-scrollbar {
	display: none;
}

main {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

input {
	padding: 10px;
	font-size: 1.2em;
}

button {
	border: none;
	padding: 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
}

.register {
	position: fixed;
	padding: 30px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
	top: 33%;
	left: 40%;
}

.chat-box {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
	height: 80vh;
}

.chat-messages {
	height: 80vh;
}

.send-message::-webkit-scrollbar {
	display: none;
}

.send-message {
	display: flex;
	flex-direction: row;
	scrollbar-width: none;
	bottom: 0;
	position: fixed;
	margin-bottom: 2.4vh;
}

.input-message {
	width: 88%;
	border-radius: 10px;
	margin-left: 1.1vw;
	background-color: rgba(119, 119, 119, 0.247);
	color: #fff;
}

.send-button {
	width: 10%;
	border-radius: 50px;
	cursor: pointer;
}

.member {
	padding: 10px;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	margin: 5px 2px;
}

.member.active {
	background: rgb(182, 175, 189);
	border-radius: 10px;
	color: #fff;
}

.member:hover {
	background: grey;
	border-radius: 10px;
	color: #fff;
	transition: ease-out 0.5s;
}

.message {
	padding: 5px 5px 5px 25px;
	width: auto;
	display: flex;
	flex-direction: column;
	margin: 10px 10px;
}

.message-data {
	padding: 5px;
	color: #fff;
	font-weight: 500;
	font-size: 14pt;
}

.message.self {
	justify-content: end;
}

.avatar {
	height: 50px;
	font-size: 20pt;
	color: #fff;
	font-weight: 700;
	display: flex;
}